img {
    margin: auto;
    height: 100px;
}
html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}
.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
   min-width:150px;
   background-color: #08adca;
}
.content {
    background-color: white;
    min-height: 100px;
    padding: 20px;
}
.content p{

    margin-top: 7px;
    margin-bottom: 7px;
}
.content2{
    position: relative;
    bottom: 600px;
    right:1px;
    background-color: white;
    padding-left: 20px;
    width: 500px;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}